*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
  height: 1px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(114, 133, 133);
  border-radius: 10px;
  height: 200px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
a{
  text-decoration: none;
  color: black;
}
.react_player{
  height: 77vh !important;
  width: 100% !important;
}